<h1>Index file</h1>

<div class="container">
  <% @posts.each do |post| %>

  <%= post.id %>title : <%= link_to post.title, post %>

  <br>

  desc : <%= post.desc %>

  <br>
  <br>

  <% end %>
</div>